# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar banco de dados (pois o script gerar_banco.py cria ele)
*.db

# Ignora arquivo .env
.env

# Ignorar configurações locais do editor
.vscode/